<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/error.css">
    <title>LULZ</title>
</head>

<body>
    <div id="main">
            <div id="wrong">
                Herro, are you lost?
            </div>
            
            <div id="backTrack">
                Turn back time and return where you came from...
            </div>   
            
            <div id="contact">
                Find me for da <a href="/flights">lulz</a>.
            </div>        
    </div>
</body>

</html>