<%- include('../partials/header') %>

<form id="new-form" action="/flights" method="POST">
    <label for="airline">Airline</label>
    <select name="airline">
        <option value="American">American</option>
        <option value="Southwest">Southwest</option>
        <option value="United">United</option>
    </select><br>

    <label for="flightNo">Flight Number (10 to 9999):</label>
    <input type="text" name="flightNo"><br>

    <label for="departs">Choose a date and time for your departure:</label>
    <input type="datetime-local" id="departs" name="departs"><br>
    
    <select name="airport">
        <option value="AUS">AUS</option>
        <option value="DAL">DAL</option>
        <option value="LAX">LAX</option>
        <option value="SEA">SEA</option>
    </select><br><br>
    
    <input type="submit" value="Add Flight">
</form>

  <%- include('../partials/footer') %>